# Dependências
node_modules/
.pnp
.pnp.js

/.tauri

# Saída do build front-end
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Tauri
src-tauri/target/
src-tauri/Cargo.lock
**/*.sig
**/*.app
**/*.dmg
**/*.AppImage
**/*.deb
**/*.rpm
**/*.msi
**/*.exe

# Arquivos temporários do Rust
target/
Cargo.lock

# Chaves privadas do updater
.tauri/tauri-private-key.pem

# Ambiente
.env
.env.*
!.env.example

# Outros arquivos sensíveis
*.pem
*.crt
*.key
